@model Stores.ViewModels.RoleViewModel

@{ ViewData["Title"] = "Delete Roles"; }

<h4>Are you sure you want to delete this role?</h4>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="DeleteRole">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" disabled class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" disabled class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Delete Role" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

